*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    border: none;
}
body{
    background-color: #f3f5f7;
    /* height: 3000px; */
}
a {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.w{
    width: 1200px;
    margin: auto;
}
.fixedbar {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999;
    margin-left:  -790px;
    width: 180px;
    height: 420px;
    background-color: pink;
}
.header{
    /* width: 1200px; */
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
}
.logo {
    float: left;
    margin-right:60px;
}
.nav {
    float: left;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 40px;
    font-size: 18px;
    color: #050505;  
    text-decoration: none;
}
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search{
    float :left;
    margin-left: 70px;
}
.search input {
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    padding-left: 20px;
    color: #ccc;
}
.search button {
    float: left;
    width: 50px;
    height: 42px;
    background: url(images/btn.png);
}
.user{
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 30px;
    font-size: 14px;
    color: #666;
}
.banner{
    height: 420px;
    background: #1c036c url(images/banner2.jpg) no-repeat top center;
}
.subnav{
    float: left;
    width: 150px;
    height: 420px;
    padding: 0 20px;
    background:rgba(0,0,0,0.3);
}
.subnav li {
    height: 45px;
    line-height: 45px;
}
.subnav li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.subnav li a:hover{
    color:#00b4ff;
}
.subnav span{
    float: right;
}
.course{
    float: right;
    width: 228px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}
.course-hd {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-weight: bold;
}
.course-bd {
    padding: 0 15px;
}
.course-bd ul {
    padding-top: 10px;
}
.course-bd li {
    height: 50px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.course-bd li h4 {
    font-size: 14px;
    color: #4e4e4e;
}
.course-bd li p {
    font-size: 12px;
    color: #a5a5a5;
}
.all {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 10px;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;
}
.all:hover {
    background-color: #00a4ff;
    color: #fff;
}
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    line-height: 60px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
.goods h3 {
    float: left;
    margin:0 30px;
    font-size: 16px;
    color: #00a4ff;
}
.goods-item {
    float:left;
    color: #bfbfbf;
}
.goods-item a {
    font-size: 16px;
    color: #050505;
    margin: 0 30px;
}
.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
.box {
    margin-top: 15px;
}
.box-hd {
    height: 60px;
    line-height: 60px;
    /* background-color: pink; */
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}
.box-hd a {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}
.box-bd {
    width: 1215px;
}
.box-bd li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.box-bd li img {
    width: 100%;
}
.box-bd .hot {
    position: absolute;
    top: 0;
    right: -4px;
    width: 40px;
}
.box-bd li h4 {
    margin: 20px 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.box-bd li p {
    margin:0 20px;
    font-size: 12px;
    color: #999;
}
.box-bd li p span {
    color: orange;
}
.footer {
    height: 385px;
    padding-top: 30px;
    background-color: #fff;
}
.copyright {
    float: left;
}
.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}
.app {
    display: block;
    width: 118px;
    height: 34px;   
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
}
.app:hover {
    color: #fff;
    background-color: #00a4ff;
}
.links {
    float: right;
}
.links dt {
    height: 35px;
    font-size: 16px;
    color: #333;
}
.links dd a {
    font-size: 12px;
    color: #333;
}
.links dl {
    float: left;
    margin-left: 100px;
}
.links dd a:hover{
    color: #00a4ff;
}